* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6d9292;
}

h1 {
    font-family: 'Saira', sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
    
}

.wrapper {
    margin: 0 auto;
    text-align: center;
}