:root {
    --bg: #6d9292;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    
}

h1 {
    font-family: 'Saira', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 5px;
    text-align: center;
}

#slider {
    margin: 0 auto;
    width: 40rem;
    max-width: 100%;
    text-align: center;
    background-color: #000000;
    border-radius: 1%;
    padding-bottom: 1rem;
    
 }



 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    position: relative;
    z-index: 1;
    border-radius: 1%;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: all 0.5s ease-out;
    width: 400%;
    line-height: 0;
    height: 40rem;

    
 }
 #slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 
  
 #bullets {
    margin: 1rem 0 0;
    text-align: right;
 }
 #bullets label {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: var(--bg);
    margin: 0 10px;
 }

 #bullets label:hover {
    background-color: #ffffff;

 }

 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background-color: #000000;
    border: 2px solid var(--bg);
 }
 @media screen and (max-width: 900px) {
    
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

